.specific-anime-bg-container {
  background-color: #02021f;
  width: 100%;
  min-height: 100vh;
  padding: 20px 0 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.specific-anime-back-btn {
  align-self: flex-start;
  text-decoration: none;
  color: violet;
  padding-left: 40px;
  display: flex;
  align-items: center;
}
.specific-anime-arrow {
  font-size: 18px;
  margin-right: 3px;
}
.specific-anime-back-text {
  font-family: 'Roboto';
  font-size: 12px;
}
.specific-anime-back-btn:hover {
  color: violet !important;
  filter: brightness(500%);
  transform: scale(1.07);
}

.specific-anime-card-desktop {
  width: 80%;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.specific-anime-header-desktop {
  height: 350px;
  width: 100%;
  background-size: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .specific-anime-header-desktop {
    height: 280px;
  }
  .specific-anime-no-cover-container-desktop {
    height: 150px;
    width: 100px;
  }
  .specific-anime-no-image-logo-desktop {
    height: 45px;
    width: 45px;
  }
  .specific-anime-cover-image-desktop {
    height: 10px;
    width: 100px;
  }
}
.specific-anime-header-titles-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 150px;
}
.specific-anime-title-desktop {
  color: #ff004c;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
}
.specific-anime-no-cover-container-desktop {
  height: 200px;
  width: 175px;
  background-color: darkslategray;
  border: 4px solid #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.specific-anime-no-cover-container-desktop:hover {
  transform: scale(1.1);
  filter: brightness(105%);
  filter: contrast(115%);
}
.specific-anime-no-image-logo-desktop {
  width: 70px;
  height: 70px;
}
.specific-anime-cover-container-desktop {
  border: 4px solid #ffffff;
  border-radius: 6px;
  padding: 0;
}
.specific-anime-cover-container-desktop:hover {
  transform: scale(1.05);
  filter: brightness(110%);
  filter: contrast(115%);
}
.specific-anime-cover-image-desktop {
  height: 200px;
  width: 175px;
}
.specific-anime-body-desktop {
  width: 100%;
  padding: 15px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.specific-anime-header-details-a-desktop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.specific-anime-header-details-b-desktop {
  display: flex;
  align-items: center;
}
.specific-anime-rating-year-desktop {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.specific-anime-calendar-icon-desktop {
  color: #ffffff;
  font-size: 18px;
  margin-right: 10px;
}
.specific-anime-rating-icon-desktop {
  color: #fbbf24;
  font-size: 18px;
  margin-right: 10px;
}
.specific-anime-header-text-desktop {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  margin-right: 6px;
}
.specific-anime-header-text-spl-desktop {
  font-weight: bold;
  color: violet;
  font-size: 14px;
}
.specific-anime-rule {
  width: 100%;
  height: 1px;
  color: grey;
  background-color: grey;
}
.specific-anime-heading-desktop {
  color: violet;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
.specific-anime-text-spl-desktop {
  color: violet;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
}
.specific-anime-text-desktop {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}
.specific-anime-genre-list-desktop {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.specific-playlist-genre-item-desktop {
  border: 1px solid violet;
  border-radius: 12px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-family: 'Roboto';
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.specific-playlist-genre-item-desktop:hover {
  transform: scale(1.1);
  filter: brightness(110%);
  cursor: pointer;
}
.specific-anime-reviews-container-desktop {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.specific-anime-no-reviews-text-desktop {
  align-self: center;
  color: #5e5a5a;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}

.specific-anime-add-review-heading-button-desktop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  outline: none;
}
.specific-anime-add-reviews-button-desktop {
  background-color: transparent;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}
.specific-anime-add-reviews-button-desktop:hover {
  transform: scale(1.1);
}
.specific-anime-add-review-container-desktop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.specific-anime-add-review-detail-desktop {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.specific-anime-add-review-label-desktop {
  color: violet;
  font-family: 'Roboto';
  font-size: 14px;
}
.specific-anime-add-review-input-container-desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}
.specific-anime-add-review-stars-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.specific-anime-add-review-rating-input-desktop {
  height: 30px;
  width: 250px;
  border: 1px solid #cbd5e1;
  background-color: transparent;
  border-radius: 4px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  padding-left: 8px;
  margin-bottom: 3px;
  outline: none;
}
.specific-anime-add-review-error-text-desktop {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: normal;
}
.specific-anime-add-review-review-input-desktop {
  width: 250px;
  height: 100px;
  border: 1px solid violet;
  background-color: transparent;
  border-radius: 4px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  padding: 10px;
  margin-left: 8px;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.specific-anime-add-review-btn-desktop {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}
.specific-anime-add-review-btn-desktop:hover {
  filter: brightness(110%);
  transform: scale(1.1);
}
.specific-anime-loader-container-desktop {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .specific-anime-bg-container {
    padding: 10px 0 20px 0px;
  }
  .specific-anime-back-btn {
    padding-left: 20px;
  }
  .specific-anime-card-desktop {
    width: 90%;
  }
  .specific-anime-header-details-a-desktop {
    flex-wrap: wrap;
  }
  .specific-anime-header-titles-container {
    height: 120px;
  }

  .specific-anime-title-desktop {
    align-self: center;
    width: 95%;
    text-align: center;
    font-size: 14px;
  }
  .specific-anime-no-cover-container-desktop {
    height: 150px;
    width: 120px;
  }
  .specific-anime-no-image-logo-desktop {
    height: 45px;
    width: 45px;
  }
  .specific-anime-cover-image-desktop {
    height: 150px;
    width: 120px;
  }
  .specific-anime-calendar-icon-desktop {
    font-size: 18px;
  }
  .specific-anime-rating-icon-desktop {
    font-size: 18px;
  }
  .specific-anime-header-text-spl-desktop {
    font-size: 12px;
  }
  .specific-anime-heading-desktop {
    font-size: 14px;
  }
  .specific-anime-text-spl-desktop {
    color: violet;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: bold;
  }
  .specific-anime-text-desktop {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 12px;
  }
  .specific-playlist-genre-item-desktop {
    border: 1px solid violet;
    border-radius: 8px;
    padding: 4px;
    margin-right: 10px;
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 12px;
  }
  .specific-anime-add-reviews-button-desktop {
    border-radius: 6px;
    padding: 6px;
  }
  .specific-anime-no-reviews-text-desktop {
    font-size: 16px;
  }
  .specific-anime-add-review-label-desktop {
    font-size: 12px;
  }
  .specific-anime-add-review-rating-input-desktop {
    height: 25px;
    width: 150px;
    font-size: 12px;
  }
  .specific-anime-add-review-review-input-desktop {
    width: 150px;
    height: 70px;
    font-size: 12px;
    padding: 10px;
  }
  .specific-anime-add-review-btn-desktop {
    padding: 8px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
  }
}
